.rouge-script-regular {
    font-family: "Rouge Script", cursive;
    font-weight: 100;
    font-style: normal;
}



:root {
    --preto-mais-preto-mas-roxo: #10002bff;
    --preto-roxo: #240046ff;
    --roxo-mais-escuro: #3c096cff;
    --roxo-escuro: #5a189aff;
    --roxo: #7b2cbfff;
    --roxo-meio: #9d4eddff;
    --roxo-um-pouco-mais-roxo: #c77dffff;
    --roxo-claro: #e0aaffff;
    --titulo: "rouge-script-regular";
    --texto: "Rouge Script, cursive";

}
*{
    margin: 5;
    padding: 5;
}

body {
    background-color: var(--roxo-escuro);
    font-family: var(--texto);

}

h1 {
    font-family: var(--titulo);
}

header {
    background-color: var(--roxo-mais-escuro);
}
.menu a:hover {
    color: var(--preto-mais-preto-mas-roxo)
    transition: 1s;
    padding: 30
}

.img-capa{
    
}
.menu {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 10px;
    color: var(--preto-roxo) text-transform --roxo-mais-escuro "Rouge Script, cursive";
    font-size: 14px
}
.Conteudo-texto do meio{
   margin: 30px;
   border: 2px solid var(--roxo-meio);
   padding: 30px;
   text-aling: center;



}



